@import './reset';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', '돋움', Dotum, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  background-color: #FFFFFF;
  height: 100%;
}

a {
  font: inherit;
  color: inherit;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
